---
import Html from "@components/Html.astro";

const frontmatter = {
  title: "Search",
  authors: [{ collection: "authors", id: "sk" }],
  area: { collection: "areas", id: "meta" },
  date: new Date(),
};

export const prerender = true;
---

<style is:global>
  form.pagefind-ui__form {
    display: flex;
    flex-direction: column;
  }

  p.pagefind-ui__message {
    color: var(--pico-muted-color);
  }

  div.pagefind-ui__results-area {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  main > hr {
    margin: var(--pico-spacing) 0;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }
</style>

<Html frontmatter={frontmatter}>
  <link href="/search/pagefind/pagefind-ui.css" rel="stylesheet" slot="head" />
  <script is:inline src="/search/pagefind/pagefind-ui.js" slot="head"></script>
  <script slot="head">
    window.addEventListener("DOMContentLoaded", (_) => {
      new PagefindUI({
        baseUrl: "/",
        element: "#search",
        showSubResults: true,
      });
    });
  </script>
  <main>
    <section>
      <h1 style="--pico-font-size: 2.5rem; text-align: center;">Search</h1>
    </section>
    <hr />
    <section>
      <div id="search"></div>
    </section>
    <hr />
  </main>
</Html>
