---
import { IoSearch } from "react-icons/io5";
import { PiTreeBold } from "react-icons/pi";
import { TfiThought } from "react-icons/tfi";
---

<header>
  <nav>
    <ul>
      <li>
        <a title="Home" href="/">
          <img
            style="width: 1.3em; height: auto;"
            src="/favicon.svg"
            alt="SK Logo"
          />
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a title="Knowledge Base" href="/kb">
          <PiTreeBold />
          <span>KB</span>
        </a>
      </li>
      <li>
        <a title="Thoughts" href="/thoughts">
          <TfiThought />
          <span>Thoughts</span>
        </a>
      </li>
      <li>
        <a title="Search" href="/search">
          <IoSearch />
          <span>Search</span>
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    text-align: center;
    position: sticky;
    top: 0;
    > nav {
      display: inline-flex;
      align-items: center;
      padding: calc(0.2 * var(--pico-spacing)) var(--pico-spacing);
      backdrop-filter: blur(4px) saturate(50%);
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: calc(4 * var(--pico-border-radius));
      border: 2px solid rgba(209, 213, 219, 0.3);

      > ul {
        > li {
          display: inline-flex;
          align-items: center;
          padding: 0 var(--pico-nav-element-spacing-horizontal);
          > a {
            display: inline-flex;
            align-items: center;
            padding: 0 var(--pico-nav-element-spacing-horizontal);

            > span {
              margin: 0 calc(0.2 * var(--pico-spacing));
            }
          }
        }
      }
    }
  }
</style>
