---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faBrain, faSearch } from "@fortawesome/free-solid-svg-icons";
---

<style>
  header {
    padding: 0 var(--pico-typography-spacing-vertical);
    border-bottom: solid var(--pico-muted-border-color)
      calc(3 * var(--pico-border-width));
  }
</style>

<header data-pagefind-ignore>
  <nav>
    <ul>
      <li>
        <a href="/">
          <image src="/sk.svg" alt="SK Logo" width={70} height="auto" />
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a title="Search" href="/search"
          ><FontAwesomeIcon icon={faSearch} color="var(--pico-primary)" /> Search</a
        >
      </li>
      <li>
        <a title="Knowledge Base" href="/kb"
          ><FontAwesomeIcon icon={faBrain} color="var(--pico-primary)" /> KB</a
        >
      </li>
    </ul>
  </nav>
</header>
