---
import { IoSearch } from "react-icons/io5";
import { PiTreeBold } from "react-icons/pi";
---

<style>
  header {
    padding: 0 var(--pico-typography-spacing-vertical);
  }

  a {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;

    > span {
      margin-left: calc(var(--pico-spacing) * 0.5);
    }
  }
</style>

<header data-pagefind-ignore>
  <nav>
    <ul>
      <li>
        <a href="/">
          <image src="/sk.svg" alt="SK Logo" width={70} height="auto" />
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a title="Search" href="/search">
          <IoSearch color="var(--pico-primary)" />
          <span>Search</span>
        </a>
      </li>
      <li>
        <a title="Knowledge Base" href="/kb">
          <PiTreeBold color="var(--pico-primary)" />
          <span>KB</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
