---
import { FaCalendarDay, FaTag } from "react-icons/fa";

import Html from "@components/Html.astro";
import Date from "@components/Date.astro";
import Area from "@components/Area.astro";
import Giscus from "@components/Giscus.astro";

import "@styles/katex.css";

const { page } = Astro.props;
const { data: frontmatter } = page;
const { Content } = await page.render();

const { title, description, date, updated, area, comments } = frontmatter;
---

<style>
  section {
    padding-bottom: calc(0.5 * var(--pico-spacing));
    border-bottom: solid var(--pico-muted-border-color)
      calc(1.2 * var(--pico-border-width));

    > h1 {
      margin-bottom: calc(0.25 * var(--pico-typography-spacing-vertical));
    }

    > p {
      color: var(--pico-muted-color);
      font-size: calc(var(--pico-font-size) * 0.8);
      margin-bottom: calc(0.25 * var(--pico-typography-spacing-vertical));
    }

    > div {
      display: flex;
      vertical-align: middle;
      align-items: center;
      color: var(--pico-muted-color);

      > div {
        display: inline-flex;
        vertical-align: middle;
        align-items: center;
        margin-right: calc(0.7 * var(--pico-spacing));
        font-size: calc(var(--pico-font-size) * 0.6);

        > span.date {
          display: inline-block;
          border: solid var(--pico-muted-border-color) var(--pico-border-width);
          border-radius: calc(1.5 * var(--pico-border-radius));
          padding: calc(0.1 * var(--pico-spacing))
            calc(0.4 * var(--pico-spacing));
          background-color: #f8fafc;
          border-color: #64748b;
        }
      }
    }
  }
</style>

<Html frontmatter={frontmatter}>
  <main data-pagefind-body>
    <section>
      <h1 style="--pico-font-size: 2.5rem;">{title}</h1>
      <p style="--pico-font-size: 1.5rem;">{description}</p>
      <div>
        <div>
          {
            updated || date ? (
              <>
                <FaCalendarDay
                  style={{
                    marginRight: "calc(0.25 * var(--pico-spacing))",
                  }}
                />
                <span class="date">
                  <Date date={updated || date} />
                </span>
              </>
            ) : null
          }
        </div>
        <div>
          <FaTag
            style={{
              marginRight: "calc(0.25 * var(--pico-spacing))",
            }}
          />
          <div>
            <Area {area} />
          </div>
        </div>
      </div>
    </section>
    <Content />
    <slot />
    <section>
      {comments ? <Giscus /> : null}
    </section>
  </main>
</Html>
